        body{
            background-color:#3d3d3d
        }
        .allimg{
            padding-top:4%;
            padding-left:1%;
        }
        .image{
         
            padding:1%;
        }
            .image:hover {
                opacity: 0.6;
                box-shadow: 10px 5px 5px #1b1b1b;
               
                -moz-box-shadow: 10px 5px 5px #1b1b1b;
                -webkit-box-shadow: 10px 5px 5px #1b1b1b;                      }

